
databaseconfig.py
__pycache__/
*.py[cod]
*$py.class
*.pyc
.vscode
.vscode/settings.json
.vscode/setting.json
board/migrations/
/env/
envData.json
venv/
.idea/
.directory
kanban/__pycache__
board/__pycache__
board/views/__pycache__
board/models/__pycache__
core/__pycache__
.DS_Store
kanban/__pycache__
board/migrations/__pycache__
kanban/settings.py
**/migrations/**
!**/migrations
!**/migrations/__init__.py

.databaseconfig.py
databaseconfig.yml
.README.md
.idea
media/*
.databaseconfig.yml
dump.rdb
#Purchase Requistion Template.xlsx
kanban/consul.py
sap/__pycache__

