<div id='board'>
    <div class="container-kanban">
        <div class="container-fluid page-header d-flex justify-content-between align-items-start">
          <div>
            <h1>Brand Concept and Design</h1>
            <p class="lead d-none d-md-block">Research, ideate and present brand concepts for client consideration</p>
          </div>
          <div class="d-flex align-items-center">
            <ul class="avatars">

              <li>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Claire Connors">
                  <img alt="Claire Connors" class="avatar" src="assets/img/avatar-female-1.jpg">
                </a>
              </li>

              <li>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Marcus Simmons">
                  <img alt="Marcus Simmons" class="avatar" src="assets/img/avatar-male-1.jpg">
                </a>
              </li>

              <li>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Peggy Brown">
                  <img alt="Peggy Brown" class="avatar" src="assets/img/avatar-female-2.jpg">
                </a>
              </li>

              <li>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Harry Xai">
                  <img alt="Harry Xai" class="avatar" src="assets/img/avatar-male-2.jpg">
                </a>
              </li>

              <li>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Sally Harper">
                  <img alt="Sally Harper" class="avatar" src="assets/img/avatar-female-3.jpg">
                </a>
              </li>

              <li>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Ravi Singh">
                  <img alt="Ravi Singh" class="avatar" src="assets/img/avatar-male-3.jpg">
                </a>
              </li>

              <li>
                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kristina Van Der Stroem">
                  <img alt="Kristina Van Der Stroem" class="avatar" src="assets/img/avatar-female-4.jpg">
                </a>
              </li>

              <li>
                <a href="#" data-toggle="tooltip" data-placement="top" title="David Whittaker">
                  <img alt="David Whittaker" class="avatar" src="assets/img/avatar-male-4.jpg">
                </a>
              </li>

            </ul>
            <button class="btn btn-round" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add User">
              <i class="material-icons">add</i>
            </button>
          </div>
        </div>
        <div class="kanban-board container-fluid mt-lg-3" tabindex="0">

          <div class="kanban-col" tabindex="0">
            <div class="card-list">
              <div class="card-list-header">
                <h6>Backlog</h6>
                <div class="dropdown">
                  <button class="btn-options" type="button" id="cardlist-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item text-danger" href="#">Archive List</a>
                  </div>
                </div>
              </div>
              <div class="card-list-body" tabindex="0">

                <div class="card card-kanban" tabindex="0">

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-13" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>A/B testing</h6>
                      </a>
                    </div>

                  </div>
                </div>

                

                <div class="card card-kanban" tabindex="0" style="">

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-15" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>Adwords</h6>
                      </a>
                    </div>

                  </div>
                </div>

                <div class="card card-kanban" tabindex="0" style="">

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-16" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>DNS changeover</h6>
                      </a>
                    </div>

                  </div>
                </div>

              </div>
              <div class="card-list-footer">
                <button class="btn btn-link btn-sm text-small">Add task</button>
              </div>
            </div>
          </div>

          <div class="kanban-col" tabindex="0">
            <div class="card-list">
              <div class="card-list-header">
                <h6>Waiting</h6>
                <div class="dropdown">
                  <button class="btn-options" type="button" id="cardlist-dropdown-button-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item text-danger" href="#">Archive List</a>
                  </div>
                </div>
              </div>
              <div class="card-list-body" tabindex="0">

                

                <div class="card card-kanban" tabindex="0" style="">

                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 12%" aria-valuenow="12" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>HTML / CSS templates</h6>
                      </a>
                    </div>

                    <ul class="avatars">

                      <li>
                        <a href="#" data-toggle="tooltip" title="David">
                          <img alt="David Whittaker" class="avatar" src="assets/img/avatar-male-4.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Harry">
                          <img alt="Harry Xai" class="avatar" src="assets/img/avatar-male-2.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="" data-original-title="Claire">
                          <img alt="Claire Connors" class="avatar" src="assets/img/avatar-female-1.jpg">
                        </a>
                      </li>

                    </ul>

                    <div class="card-meta d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>1/8</span>
                      </div>

                      <span class="text-small">Due 10 days</span>

                    </div>

                  </div>
                </div><div class="card card-kanban" tabindex="0" style="">

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>Photography</h6>
                      </a>
                    </div>

                    <ul class="avatars">

                      <li>
                        <a href="#" data-toggle="tooltip" title="Kerri-Anne">
                          <img alt="Kerri-Anne Banks" class="avatar" src="assets/img/avatar-female-5.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Masimba">
                          <img alt="Masimba Sibanda" class="avatar" src="assets/img/avatar-male-5.jpg">
                        </a>
                      </li>

                    </ul>

                    <div class="card-meta d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>0/5</span>
                      </div>

                      <span class="text-small">Due 12 days</span>

                    </div>

                  </div>
                </div>

                <div class="card card-kanban" tabindex="0">

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>Illustrations</h6>
                      </a>
                    </div>

                    <div class="card-meta d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>0/6</span>
                      </div>

                      <span class="text-small">Due 12 days</span>

                    </div>

                  </div>
                </div>

                <div class="card card-kanban" tabindex="0">

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>Device testing</h6>
                      </a>
                    </div>

                    <ul class="avatars">

                      <li>
                        <a href="#" data-toggle="tooltip" title="Masimba">
                          <img alt="Masimba Sibanda" class="avatar" src="assets/img/avatar-male-5.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Ravi">
                          <img alt="Ravi Singh" class="avatar" src="assets/img/avatar-male-3.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Harry">
                          <img alt="Harry Xai" class="avatar" src="assets/img/avatar-male-2.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Kerri-Anne">
                          <img alt="Kerri-Anne Banks" class="avatar" src="assets/img/avatar-female-5.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="David">
                          <img alt="David Whittaker" class="avatar" src="assets/img/avatar-male-4.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Claire">
                          <img alt="Claire Connors" class="avatar" src="assets/img/avatar-female-1.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Marcus">
                          <img alt="Marcus Simmons" class="avatar" src="assets/img/avatar-male-1.jpg">
                        </a>
                      </li>

                    </ul>

                    <div class="card-meta d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>0/18</span>
                      </div>

                      <span class="text-small">Due 16 days</span>

                    </div>

                  </div>
                </div>

              </div>
              <div class="card-list-footer">
                <button class="btn btn-link btn-sm text-small">Add task</button>
              </div>
            </div>
          </div>

          <div class="kanban-col" tabindex="0">
            <div class="card-list">
              <div class="card-list-header">
                <h6>Doing</h6>
                <div class="dropdown">
                  <button class="btn-options" type="button" id="cardlist-dropdown-button-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item text-danger" href="#">Archive List</a>
                  </div>
                </div>
              </div>
              <div class="card-list-body" tabindex="0">

                <div class="card card-kanban" tabindex="0" style="">

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-14" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>Email template</h6>
                      </a>
                    </div>

                    <ul class="avatars">

                      <li>
                        <a href="#" data-toggle="tooltip" title="David">
                          <img alt="David Whittaker" class="avatar" src="assets/img/avatar-male-4.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Ravi">
                          <img alt="Ravi Singh" class="avatar" src="assets/img/avatar-male-3.jpg">
                        </a>
                      </li>

                    </ul>

                    <div class="card-meta d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>-/-</span>
                      </div>

                      <span class="text-small">Unscheduled</span>

                    </div>

                  </div>
                </div><div class="card card-kanban" tabindex="0" style="">

                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>Copywriting</h6>
                      </a>
                    </div>

                    <ul class="avatars">

                      <li>
                        <a href="#" data-toggle="tooltip" title="Peggy">
                          <img alt="Peggy Brown" class="avatar" src="assets/img/avatar-female-2.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Ravi">
                          <img alt="Ravi Singh" class="avatar" src="assets/img/avatar-male-3.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Marcus">
                          <img alt="Marcus Simmons" class="avatar" src="assets/img/avatar-male-1.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Harry">
                          <img alt="Harry Xai" class="avatar" src="assets/img/avatar-male-2.jpg">
                        </a>
                      </li>

                    </ul>

                    <div class="card-meta d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>2/4</span>
                      </div>

                      <span class="text-small">Due 4 days</span>

                    </div>

                  </div>
                </div>

                <div class="card card-kanban" tabindex="0">

                  <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>Hi-fidelity mockups</h6>
                      </a>
                    </div>

                    <ul class="avatars">

                      <li>
                        <a href="#" data-toggle="tooltip" title="David">
                          <img alt="David Whittaker" class="avatar" src="assets/img/avatar-male-4.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Kristina">
                          <img alt="Kristina Van Der Stroem" class="avatar" src="assets/img/avatar-female-4.jpg">
                        </a>
                      </li>

                    </ul>

                    <div class="card-meta d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>6/8</span>
                      </div>

                      <span class="text-small">Due Tomorrow</span>

                    </div>

                  </div>
                </div>

                <div class="card card-kanban" tabindex="0">

                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>Source placeholders</h6>
                      </a>
                    </div>

                    <ul class="avatars">

                      <li>
                        <a href="#" data-toggle="tooltip" title="Claire">
                          <img alt="Claire Connors" class="avatar" src="assets/img/avatar-female-1.jpg">
                        </a>
                      </li>

                    </ul>

                    <div class="card-meta d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>2/10</span>
                      </div>

                      <span class="text-small">Due 2 days</span>

                    </div>

                  </div>
                </div>

              </div>
              <div class="card-list-footer">
                <button class="btn btn-link btn-sm text-small">Add task</button>
              </div>
            </div>
          </div>

          <div class="kanban-col" tabindex="0">
            <div class="card-list">
              <div class="card-list-header">
                <h6>In Review</h6>
                <div class="dropdown">
                  <button class="btn-options" type="button" id="cardlist-dropdown-button-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item text-danger" href="#">Archive List</a>
                  </div>
                </div>
              </div>
              <div class="card-list-body" tabindex="0">

                <div class="card card-kanban" tabindex="0">

                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-17" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>Establish build process</h6>
                      </a>
                    </div>

                    <ul class="avatars">

                      <li>
                        <a href="#" data-toggle="tooltip" title="Harry">
                          <img alt="Harry Xai" class="avatar" src="assets/img/avatar-male-2.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Kerri-Anne">
                          <img alt="Kerri-Anne Banks" class="avatar" src="assets/img/avatar-female-5.jpg">
                        </a>
                      </li>

                    </ul>

                    <div class="card-meta d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>4/4</span>
                      </div>

                      <span class="text-small">Due Today</span>

                    </div>

                  </div>
                </div>

              </div>
              <div class="card-list-footer">
                <button class="btn btn-link btn-sm text-small">Add task</button>
              </div>
            </div>
          </div>

          <div class="kanban-col" tabindex="0">
            <div class="card-list">
              <div class="card-list-header">
                <h6>Done</h6>
                <div class="dropdown">
                  <button class="btn-options" type="button" id="cardlist-dropdown-button-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_vert</i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item text-danger" href="#">Archive List</a>
                  </div>
                </div>
              </div>
              <div class="card-list-body" tabindex="0">

                <div class="card card-kanban" tabindex="0">

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>Define Scope</h6>
                      </a>
                    </div>

                    <ul class="avatars">

                      <li>
                        <a href="#" data-toggle="tooltip" title="Kristina">
                          <img alt="Kristina Van Der Stroem" class="avatar" src="assets/img/avatar-female-4.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Claire">
                          <img alt="Claire Connors" class="avatar" src="assets/img/avatar-female-1.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Marcus">
                          <img alt="Marcus Simmons" class="avatar" src="assets/img/avatar-male-1.jpg">
                        </a>
                      </li>

                    </ul>

                    <div class="card-meta d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>3/3</span>
                      </div>

                      <span class="text-small">18 days</span>

                    </div>

                  </div>
                </div>

                <div class="card card-kanban" tabindex="0">

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>Content Audit</h6>
                      </a>
                    </div>

                    <ul class="avatars">

                      <li>
                        <a href="#" data-toggle="tooltip" title="Kenny">
                          <img alt="Kenny Tran" class="avatar" src="assets/img/avatar-male-6.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Sally">
                          <img alt="Sally Harper" class="avatar" src="assets/img/avatar-female-3.jpg">
                        </a>
                      </li>

                    </ul>

                    <div class="card-meta d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>6/6</span>
                      </div>

                      <span class="text-small">17 days</span>

                    </div>

                  </div>
                </div>

                <div class="card card-kanban" tabindex="0">

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>Establish CMS</h6>
                      </a>
                    </div>

                    <ul class="avatars">

                      <li>
                        <a href="#" data-toggle="tooltip" title="Sally">
                          <img alt="Sally Harper" class="avatar" src="assets/img/avatar-female-3.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Kerri-Anne">
                          <img alt="Kerri-Anne Banks" class="avatar" src="assets/img/avatar-female-5.jpg">
                        </a>
                      </li>

                    </ul>

                    <div class="card-meta d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>3/3</span>
                      </div>

                      <span class="text-small">17 days</span>

                    </div>

                  </div>
                </div>

                <div class="card card-kanban" tabindex="0">

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>Create mood boards</h6>
                      </a>
                    </div>

                    <ul class="avatars">

                      <li>
                        <a href="#" data-toggle="tooltip" title="Marcus">
                          <img alt="Marcus Simmons" class="avatar" src="assets/img/avatar-male-1.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Peggy">
                          <img alt="Peggy Brown" class="avatar" src="assets/img/avatar-female-2.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Harry">
                          <img alt="Harry Xai" class="avatar" src="assets/img/avatar-male-2.jpg">
                        </a>
                      </li>

                    </ul>

                    <div class="card-meta d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>8/8</span>
                      </div>

                      <span class="text-small">16 days</span>

                    </div>

                  </div>
                </div>

                <div class="card card-kanban" tabindex="0">

                  <div class="card-body">
                    <div class="dropdown card-options">
                      <button class="btn-options" type="button" id="kanban-dropdown-button-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item text-danger" href="#">Archive Card</a>
                      </div>
                    </div>
                    <div class="card-title">
                      <a href="#" data-toggle="modal" data-target="#task-modal">
                        <h6>Produce mockups</h6>
                      </a>
                    </div>

                    <ul class="avatars">

                      <li>
                        <a href="#" data-toggle="tooltip" title="Marcus">
                          <img alt="Marcus Simmons" class="avatar" src="assets/img/avatar-male-1.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Peggy">
                          <img alt="Peggy Brown" class="avatar" src="assets/img/avatar-female-2.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Harry">
                          <img alt="Harry Xai" class="avatar" src="assets/img/avatar-male-2.jpg">
                        </a>
                      </li>

                      <li>
                        <a href="#" data-toggle="tooltip" title="Ravi">
                          <img alt="Ravi Singh" class="avatar" src="assets/img/avatar-male-3.jpg">
                        </a>
                      </li>

                    </ul>

                    <div class="card-meta d-flex justify-content-between">
                      <div class="d-flex align-items-center">
                        <i class="material-icons">playlist_add_check</i>
                        <span>10/10</span>
                      </div>

                      <span class="text-small">15 days</span>

                    </div>

                  </div>
                </div>

              </div>
              <div class="card-list-footer">
                <button class="btn btn-link btn-sm text-small">Add task</button>
              </div>
            </div>
          </div>

          <div class="kanban-col">
            <div class="card-list">
              <button class="btn btn-link btn-sm text-small">Add list</button>
            </div>
          </div>
        </div>
      </div>
</div>